<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	    <encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n
			</pattern>
	    </encoder>
	</appender>
	
	<appender name="CONTROLLER" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<file>logs/traverseController.log</file>
    	<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">        
        	<fileNamePattern>logs/traverseController%i.log</fileNamePattern>
        	<minIndex>1</minIndex>
        	<maxIndex>10</maxIndex>
    	</rollingPolicy>
    	
    	<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
    		<maxFileSize>2MB</maxFileSize>
    	</triggeringPolicy>
    	
    	<encoder>
        	<pattern>
        		%d{yyyy-MM-dd HH:mm:ss} %-5level - %msg%n
        	</pattern>
    	</encoder>
	</appender>
	
	<appender name="OTHER" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<file>logs/traverseOther.log</file>
    	<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">        
        	<fileNamePattern>logs/traverseOther%i.log</fileNamePattern>
        	<minIndex>1</minIndex>
        	<maxIndex>10</maxIndex>
    	</rollingPolicy>
    	
    	<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
    		<maxFileSize>2MB</maxFileSize>
    	</triggeringPolicy>
    	
    	<encoder>
        	<pattern>
        		%d{yyyy-MM-dd HH:mm:ss} - %msg%n
        	</pattern>
    	</encoder>
	</appender>
	
	<logger name="org.springframework" level="info" additivity="false">
		<appender-ref ref="OTHER" />
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="edu.swe681.traverse.rest" level="info" additivity="false">
		<appender-ref ref="CONTROLLER" />
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="edu.swe681.traverse.game" level="info" additivity="false">
		<appender-ref ref="CONTROLLER" />
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="edu.swe681" level="info" additivity="false">
		<appender-ref ref="OTHER" />
		<appender-ref ref="STDOUT" />
	</logger>
	 
	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
