table.board, td.cell {
	border: 1px solid;
}

div.cell {
	height: 23px;
	width: 23px;
}

div.leftPanel {
	float: left;
	margin: 20px;
}

div.rightPanel {
	display: inline-block;
	margin: 20px;
}

body h4 {
	margin-bottom: 5px;
	text-decoration: underline;
}

input#moveGameId, input#pieceId {
	width: 75px;
}

input#move {
	width: 250px;
}